<script>
	import Header from '$lib/header.svelte';
	import { Column, Content, Grid, Row } from 'carbon-components-svelte';
	import 'carbon-components-svelte/css/all.css';
</script>

<Header />

<Content>
	<Grid>
		<Row>
			<Column>
				<div class="wrapper">
					<slot />
				</div>
			</Column>
		</Row>
	</Grid>
</Content>

<style>
	.wrapper {
		margin-top: 85px;
	}
</style>
