@mixin slashy {
    background: linear-gradient(
        var(--angleDegs),
        var(--colorDark) 0vw, var(--distance),
        var(--colorLight) var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

body {
    @include slashy;
    --colorDark: #111a2a;
    --colorLight: #eaebe7;
    --angleDegs: 240deg;
    // --distance: calc(100% - 400px);
    --distance: 69vw;
}
// 60|600px, 120|300px, 180, 240, 300, 360

	// sapphire: #4051a3
	// parkGreen: #20543e
	// midnight: #111a2a
	// mulberry: #ad285a
	// tile: #925840
	// flame: #f16151
	// lake: #7ec4e2
	// granite: #eaebe7
	// lavender: #cdb8d1
	// sand: #eadcc9
