/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2022 Schwartzco Inc.
        License: 2207-MMHCGZ     
*/


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-BoldItalic-Web.woff2') format('woff2'),
       url('StyreneB-BoldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

.StyreneB-BoldItalic-Web {
  font-family: 'Styrene B Web';
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-Bold-Web.woff2') format('woff2'),
       url('StyreneB-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.StyreneB-Bold-Web {
  font-family: 'Styrene B Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-MediumItalic-Web.woff2') format('woff2'),
       url('StyreneB-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.StyreneB-MediumItalic-Web {
  font-family: 'Styrene B Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-Medium-Web.woff2') format('woff2'),
       url('StyreneB-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.StyreneB-Medium-Web {
  font-family: 'Styrene B Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-RegularItalic-Web.woff2') format('woff2'),
       url('StyreneB-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.StyreneB-RegularItalic-Web {
  font-family: 'Styrene B Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Styrene B Web';
  src: url('StyreneB-Regular-Web.woff2') format('woff2'),
       url('StyreneB-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.StyreneB-Regular-Web {
  font-family: 'Styrene B Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

