<script>
	import { DataTable } from 'carbon-components-svelte';
	import { colorRows } from '$src/stores';
	// import { colorRows as rows } from '$src/stores';

	console.log($colorRows);
</script>

<DataTable
	headers={[
		{ key: 'carbon', value: 'carbon color code' },
		{ key: 'mine', value: 'my color code' },
		{ key: 'color', value: 'the color' }
	]}
	rows={$colorRows}
>
	<svelte:fragment slot="cell" let:row let:cell>
		{#if cell.key === 'color'}
			<button style="background-color: {cell.value};">{cell.value}</button>
		{:else}
			{cell.value}
		{/if}
	</svelte:fragment>
</DataTable>

<style>
	button {
		border: 0;
		height: 100%;
		width: 100%;
		color: rgb(var(--colorLight));
	}
</style>
