<script>
	import { Theme } from 'carbon-components-svelte';
</script>

<div class="th-wrpr">
	<Theme
		render="toggle"
		toggle={{
			themes: ['g10', 'g80'],
			labelA: 'Enable dark mode',
			labelB: 'Enable dark mode',
			hideLabel: true,
			size: 'sm'
		}}
		persist
		persistKey="__newberry-theme"
	/>
</div>

<style>
	.th-wrpr {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
	}
</style>
