<script>
	import { colors } from '$utils/colors';
	let ogColors = {
		flame: '241, 97, 81',
		parkGreen: '32, 84, 62',
		tile: '146, 88, 64',
		sapphire: '64, 81, 163',
		lake: '126, 196, 226',
		mulberry: '173, 43, 90',
		lavender: '205, 184, 209',
		midnight: '17, 26, 42',
		sand: '234, 220, 201',
		granite: '234, 235, 231'
	};
	let newColors = Object.keys(colors)
		.map((c, idx) => {
			if (idx > 0) {
				let thisColorRegexMatch = c.match(/([A-Za-z]+)([0-9]{2,3})/);
				// console.log('Object.keys(colors)', Object.keys(colors)[idx - 1]);
				let lastcolor = Object.keys(colors)[idx - 1];
				let lastColorRegexMatch = lastcolor.match(/([A-Za-z]+)([0-9]{2,3})/);
				// if (thisColorRegexMatch[2] - 10 !== lastColorRegexMatch[2]) {
				if (idx === 3) {
					console.log('thisColorRegexMatch[2]', thisColorRegexMatch[2]);
					console.log('lastColorRegexMatch[2]', lastColorRegexMatch[2]);
					console.log('thisColorRegexMatch[2] - 20 ', thisColorRegexMatch[2] - 20);
					console.log('thisColorRegexMatch[2] - 20 === lastColorRegexMatch[2]', thisColorRegexMatch[2] - 20 == lastColorRegexMatch[2]);
				}
				if (thisColorRegexMatch[2] - 20 == lastColorRegexMatch[2] && thisColorRegexMatch[1] === lastColorRegexMatch[1]) {
					let retarr = [ogColors[thisColorRegexMatch[1]], thisColorRegexMatch[1]];
					return [retarr, [colors[c], c]];
				} else {
					return [colors[c], c];
				}
				// console.log(thisColorRegexMatch);
			} else {
				return [colors[c], c];
			}
		})
		.flat();
</script>

<p>oof</p>

<pre>
	{JSON.stringify(newColors, null, 4)}
</pre>
