<script>
	import 'carbon-components-svelte/css/all.css';
	import Header from '$lib/header.svelte';
	import { Content } from 'carbon-components-svelte';
</script>

<Header />
<Content>
	<slot />
</Content>

<style lang="scss">
	@use 'sass:color';
	:global(body) {
		--flame: 241, 97, 81;
		--parkGreen: 32, 84, 62;
		--tile: 146, 88, 64;
		--sapphire: 64, 81, 163;
		--lake: 126, 196, 226;
		--mulberry: 173, 43, 90;
		--lavender: 205, 184, 209;
		--midnight: 17, 26, 42;
		--sand: 234, 220, 201;
		--granite: 234, 235, 231;
		--colorDark: var(--sapphire);
		--colorLight: var(--granite);
		--colorSplash: var(--mulberry);
	}
</style>
